body {
  margin: 0;
  padding: 0;
  background-color: rgb(37, 35, 32);
  font-family: "TAEBAEKmilkyway";
  line-height: 2em;
  touch-action: pan-y;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
